:root {
  font-family: 'Inter', 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --secondary-text-cl: #ffffff;
  --mw-text-cl: #5c5c5c;
  --other-text-cl: #00000066;
  --btn-bg-cl: #e86f54;
  --hover-btn-cl: #E25B41;
}
