@media screen and (max-width: 1279px) {
  .footer-logo {
    display: none;
  }
}


.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: black;
  color: white;
  display: flex;
}

.footer-gap-div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 42px;
  row-gap: 20px;
}

.footer-navigation {
  width: 116px;
}

.footer-text {
  font-size: 14px;
  font-family: 'inter';
}

.footer-subtitle-nav {
  margin-bottom: 18px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}

.footer-item-nav {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.footer-subtitle-time {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}

.footer-contacts {
  width: 128px;
}

.footer-subtitle-contacts {
  margin-bottom: 18px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.contacts-list {
  font-family: 'inter';
  font-size: 14px;
  letter-spacing: 1.2;
}

.footer-item-contacts {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.link-flex {
  display: flex;
}

.social-list {
  display: flex;
}

.social-item {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 54px;
  }

  .footer-container {
    display: flex;
  }

  .footer-navigation {
    width: 144px;
  }

  .footer-subtitle-nav {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }

  .footer-item-nav {
    margin-bottom: 12px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }

  .footer-subtitle-time {
    width: 143px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }

  .footer-text {
    margin-bottom: 12px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }

  .footer-contacts {
    width: 263px;
  }

  .footer-subtitle-contacts {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }

  .footer-item-contacts {
    margin-bottom: 12px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }

  .link-flex {
    display: inline-flex;
  }

  .social-list {
    margin-right: 16px;
    display: block;
  }

  .social-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .footer {
    padding-top: 72px;
    padding-bottom: 72px;
    justify-content: space-between;
  }

  .footer-logo {
    margin-right: 118px;
  }

  .footer-gap-div {
    display: flex;
    gap: 92px;
  }

  .footer-subtitle-nav {
    margin-right: 0;
    margin-left: 0;
  }

  .footer-subtitle-time {
    margin-right: 0;
  }

  .footer-contacts {
    width: 333px;
  }

  .contacts-list {
    font-size: 16px;
  }

  .social-list {
    margin-right: 25px;
    display: block;

  }

  .scale-header {
    transition: transform 0.4s ease-in-out;
    display: inline-block;
  }

  .scale-header:hover {
    transform: scale(1.2);
  }
}