<section class="blog" id="blog">
  <div class="container">
    <h2 class="section-title">Blog</h2>
    <div class="blog-list responsive">
      <div class="blog-item">
        <picture class="picture-blog">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-green_desk@1x.webp 1x,
              ./img/blog/flowers-green_desk@2x.webp 2x
            "
            width="390"
            height="421"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-green_desk@1x.jpg 1x,
              ./img/blog/flowers-green_desk@2x.jpg 2x
            "
            width="390"
            height="421"
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-green_tab@1x.webp 1x,
              ./img/blog/flowers-green_tab@2x.webp 2x
            "
            width="344"
            height="398"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-green_tab@1x.jpg 1x,
              ./img/blog/flowers-green_tab@2x.jpg 2x
            "
            width="344"
            height="398"
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-green_mob@1x.webp 1x,
              ./img/blog/flowers-green_mob@2x.webp 2x
            "
            width="100%"
            height="100%"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-green_mob@1x.jpg 1x,
              ./img/blog/flowers-green_mob@2x.jpg 2x
            "
            width="100%"
            height="100%"
            type="image/jpeg"
          />
          <img
            class="img-blog"
            srcset="
              ./img/blog/flowers-green_mob@1x.jpg 1x,
              ./img/blog/flowers-green_mob@2x.jpg 2x
            "
            src="./img/blog/flowers-green_mob@1x.jpg"
            alt=""
            width="100%"
            height="100%"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="blog-item">
        <picture class="picture-blog">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-pink_desk@1x.webp 1x,
              ./img/blog/flowers-pink_desk@2x.webp 2x
            "
            width="390"
            height="421"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-pink_desk@1x.jpg 1x,
              ./img/blog/flowers-pink_desk@2x.jpg 2x
            "
            width="390"
            height="421"
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-pink_tab@1x.webp 1x,
              ./img/blog/flowers-pink_tab@2x.webp 2x
            "
            width="344"
            height="398"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-pink_tab@1x.jpg 1x,
              ./img/blog/flowers-pink_tab@2x.jpg 2x
            "
            width="344"
            height="398"
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-pink_mob@1x.webp 1x,
              ./img/blog/flowers-pink_mob@2x.webp 2x
            "
            width="100%"
            height="100%"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-pink_mob@1x.jpg 1x,
              ./img/blog/flowers-pink_mob@2x.jpg 2x
            "
            width="100%"
            height="100%"
            type="image/jpeg"
          />
          <img
            class="img-blog"
            srcset="
              ./img/blog/flowers-pink_mob@1x.jpg 1x,
              ./img/blog/flowers-pink_mob@2x.jpg 2x
            "
            src="./img/blog/flowers-pink_mob@1x.jpg"
            alt=""
            width="100%"
            height="100%"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="blog-item is-hiden">
        <picture class="picture-blog">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-blue_desk@1x.webp 1x,
              ./img/blog/flowers-blue_desk@2x.webp 2x
            "
            width="390"
            height="421"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-blue_desk@1x.jpg 1x,
              ./img/blog/flowers-blue_desk@2x.jpg 2x
            "
            width="390"
            height="421"
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-blue_tab@1x.webp 1x,
              ./img/blog/flowers-blue_tab@2x.webp 2x
            "
            width="344"
            height="398"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-blue_tab@1x.jpg 1x,
              ./img/blog/flowers-blue_tab@2x.jpg 2x
            "
            width="344"
            height="398"
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-blue_mob@1x.webp 1x,
              ./img/blog/flowers-blue_mob@2x.webp 2x
            "
            width="100%"
            height="100%"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-blue_mob@1x.jpg 1x,
              ./img/blog/flowers-blue_mob@2x.jpg 2x
            "
            width="100%"
            height="100%"
            type="image/jpeg"
          />
          <img
            class="img-blog"
            srcset="
              ./img/blog/flowers-blue_mob@1x.jpg 1x,
              ./img/blog/flowers-blue_mob@2x.jpg 2x
            "
            src="./img/blog/flowers-blue_mob@1x.jpg"
            alt=""
            width="100%"
            height="100%"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="blog-item slider">
        <picture class="picture-blog">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-yellow_desk@1x.webp 1x,
              ./img/blog/flowers-yellow_desk@2x.webp 2x
            "
            width="390"
            height="421"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-yellow_desk@1x.jpg 1x,
              ./img/blog/flowers-yellow_desk@2x.jpg 2x
            "
            width="390"
            height="421"
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-yellow_tab@1x.webp 1x,
              ./img/blog/flowers-yellow_tab@2x.webp 2x
            "
            width="344"
            height="398"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-yellow_tab@1x.jpg 1x,
              ./img/blog/flowers-yellow_tab@2x.jpg 2x
            "
            width="344"
            height="398"
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-yellow_mob@1x.webp 1x,
              ./img/blog/flowers-yellow_mob@2x.webp 2x
            "
            width="100%"
            height="100%"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-yellow_mob@1x.jpg 1x,
              ./img/blog/flowers-yellow_mob@2x.jpg 2x
            "
            width="100%"
            height="100%"
            type="image/jpeg"
          />
          <img
            class="img-blog"
            srcset="
              ./img/blog/flowers-yellow_mob@1x.jpg 1x,
              ./img/blog/flowers-yellow_mob@2x.jpg 2x
            "
            src="./img/blog/flowers-yellow_mob@1x.jpg"
            alt=""
            width="100%"
            height="100%"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="blog-item slider">
        <picture class="picture-blog">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-red_desk@1x.webp 1x,
              ./img/blog/flowers-red_desk@2x.webp 2x
            "
            width="390"
            height="421"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-red_desk@1x.jpg 1x,
              ./img/blog/flowers-red_desk@2x.jpg 2x
            "
            width="390"
            height="421"
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-red_tab@1x.webp 1x,
              ./img/blog/flowers-red_tab@2x.webp 2x
            "
            width="344"
            height="398"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-red_tab@1x.jpg 1x,
              ./img/blog/flowers-red_tab@2x.jpg 2x
            "
            width="344"
            height="398"
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-red_mob@1x.webp 1x,
              ./img/blog/flowers-red_mob@2x.webp 2x
            "
            width="100%"
            height="100%"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-red_mob@1x.jpg 1x,
              ./img/blog/flowers-red_mob@2x.jpg 2x
            "
            width="100%"
            height="100%"
            type="image/jpeg"
          />
          <img
            class="img-blog"
            srcset="
              ./img/blog/flowers-red_mob@1x.jpg 1x,
              ./img/blog/flowers-red_mob@2x.jpg 2x
            "
            src="./img/blog/flowers-red_mob@1x.jpg"
            alt=""
            width="100%"
            height="100%"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="blog-item slider">
        <picture class="picture-blog">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-orange_desk@1x.webp 1x,
              ./img/blog/flowers-orange_desk@2x.webp 2x
            "
            width="390"
            height="421"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers-orange_desk@1x.jpg 1x,
              ./img/blog/flowers-orange_desk@2x.jpg 2x
            "
            width="390"
            height="421"
            type="image/jpeg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-orange_tab@1x.webp 1x,
              ./img/blog/flowers-orange_tab@2x.webp 2x
            "
            width="344"
            height="398"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers-orange_tab@1x.jpg 1x,
              ./img/blog/flowers-orange_tab@2x.jpg 2x
            "
            width="344"
            height="398"
            type="image/jpeg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-orange_mob@1x.webp 1x,
              ./img/blog/flowers-orange_mob@2x.webp 2x
            "
            width="100%"
            height="100%"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers-orange_mob@1x.jpg 1x,
              ./img/blog/flowers-orange_mob@2x.jpg 2x
            "
            width="100%"
            height="100%"
            type="image/jpeg"
          />
          <img
            class="img-blog"
            srcset="
              ./img/blog/flowers-orange_mob@1x.jpg 1x,
              ./img/blog/flowers-orange_mob@2x.jpg 2x
            "
            src="./img/blog/flowers-orange_mob@1x.jpg"
            alt=""
            width="100%"
            height="100%"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="flex-blog">
      <ul class="arrow-list">
        <li class="arrow-item">
          <button class="arrow-btn" type="button">
            <svg class="blog-svg" width="100%" height="100%">
              <use href="./img/icons.svg#icon-left-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="arrow-item">
          <button class="arrow-btn" type="button">
            <svg class="blog-svg" width="100%" height="100%">
              <use href="./img/icons.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
      <h3 class="text-blog">Follow to our newsletter</h3>
      <button class="subscribe-btn btn" type="button" data-modal-sbscr-open>
        Subscribe
      </button>
    </div>
  </div>
</section>
