<footer class="footer">
  <div class="footer-container container">
    <div class="footer-gap-div">
      <svg class="footer-logo" width="73px" height="57px">
        <use href="./img/icons-footer/icons-footer.svg#Logo-footer"></use>
      </svg>
      <div class="footer-navigation">
        <h3 class="footer-subtitle-nav">Navigation</h3>
        <ul class="footer-list">
          <li class="footer-item-nav">
            <a class="scale-header" href="#hero">Anemone</a>
          </li>
          <li class="footer-item-nav">
            <a class="scale-header" href="#about">About us</a>
          </li>
          <li class="footer-item-nav">
            <a class="scale-header" href="#store">Store</a>
          </li>
          <li class="footer-item-nav">
            <a class="scale-header" href="#delivery">Delivery</a>
          </li>
        </ul>
      </div>
      <div class="footer-Schedule">
        <h3 class="footer-subtitle-time">Opening times</h3>
        <p class="footer-text">
          Every day<br />
          9:00 - 22:00
        </p>
      </div>

      <div class="footer-contacts">
        <h3 class="footer-subtitle-contacts">Contacts</h3>
        <ul class="contacts-list">
          <li class="footer-item-contacts">
            <a href="tel:+380631234567">+38 063 123 45 67</a>
          </li>
          <li class="footer-item-contacts">
            <a href="mailto:anemonestudio@example.com">anemonestudio<span class="link-flex">@example.com</span></a>
          </li>
          <li class="footer-item-contacts">
            <a href="https://goo.gl/maps/bJcu8tGXfVbUyjKX7">Reitarska Street, 11<br />
              Kyiv, Ukraine</a>
          </li>
        </ul>
      </div>

      <div class="social-icon">
        <ul class="social-list">
          <li class="social-item">
            <a href="https://www.facebook.com/">
              <svg class="mob-social-icon" width="28px" height="28px">
                <use href="./img/icons-footer/icons-footer.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="">
            <a href="https://www.instagram.com/">
              <svg class="social-icon" width="28px" height="28px">
                <use href="./img/icons-footer/icons-footer.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>