<footer class="footer">
    <div class="footer-container">
        <div class="footer-div">
            <svg class="footer-logo" width="73px" height="57px">
                <use href="../img/logo-footer.svg"> </use>
            </svg>
            <div class="footer-gap-div">
                <div class="footer-navigation">
                    <h3 class="footer-subtitle-nav">Navigation</h3>
                    <ul class="footer-list">
                        <li class="footer-item-nav">Anemone</li>
                        <li class="footer-item-nav">About us</li>
                        <li class="footer-item-nav">Store</li>
                        <li class="footer-item-nav">Delivery</li>
                    </ul>
                </div>
                <div class="footer-Schedule">
                    <h3 class="footer-subtitle-time">Opening times</h3>
                    <p class="footer-text">Every day<br>
                        9:00 - 22:00</p>
                </div>

                <div class="footer-contacts-div">
                    <div class="footer-contacts">
                        <h3 class="footer-subtitle-contacts">Contacts</h3>
                        <ul>
                            <li class="footer-item-contacts"></li>
                            <a href="tel:+380631234567">+38 063 123 45 67</a>
                            <li class="footer-item-contacts"></li>
                            <a href="mailto:anemonestudio@example.com">anemonestudio@example.com</a>
                            <li class="footer-item-contacts"></li>
                            <a href="">Reitarska Street, 11<br>
                                Kyiv, Ukraine</a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="social-icon">
                <ul class="social-list">
                    <li class="social-item"> <svg class="mob-social-icon" width="28px" height="28px">
                            <use href="#facebook">
                            </use>
                        </svg></li>
                    <li class="social-item"> <svg class="social-icon" width="28px" height="28px">
                            <use href="#instagram">
                            </use>
                        </svg></li>
                </ul>
            </div>

        </div>
    </div>
</footer>