<header class="conteiner">
  <!-- logo -->
  <a href="">
    <svg class="header-logo" width="72" height="57">
      <use href="../img/icons.svg#icon-main_mob_logo"></use>
    </svg>
  </a>
</header>

<!-- navigation -->
<nav class="header-nav conteiner">
  <ul class="header-list">
    <li class="header-item"><a href="">Anemone</a></li>
    <li class="header-item"><a href="">About us</a></li>
    <li class="header-item"><a href="">Store</a></li>
    <li class="header-item"><a href="">Delivery</a></li>
    <li class="header-item"><a href="">Blog</a></li>
  </ul>
</nav>
<button class="contact-btn" type="button">
  <svg class="tel-icon" width="22" height="22">
    <use href="../img/icons.svg#icon-tel_logo"></use>
  </svg>
</button>

<button class="menu-btn" type="button">
  <svg class="menu-icon" width="18" height="16">
    <use href=""></use>
  </svg>
</button>
