<!-- <div class="backdrop is-hidden backdrop-thnx display" data-modal>
  <div class="modal-thnx">
    <button type="button " class="thnx-btn">
      <svg class="thnx-clouse">
        <use href="./img/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="thnx-svg">
      <svg class="thnx-img">
        <use href="./img/icons.svg#icon-thank_you"></use>
      </svg>
    </div>

    <div class="thnx-flex">
      <strong class="thnx-you">Thank you!</strong>
      <p class="thnx-text">
        We have received your contact details and will reach you soon.
      </p>
      <button type="button" class="thnx-continue btn">Continue</button>
    </div>
  </div>
</div> -->
