<div class="mob-menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="mob-close-btn-icon" width="12" height="12">
      <use href="../img/icons.svg#icon-mob-close"></use>
    </svg>
  </button>
  <div class="mob-menu-body">
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a href="../index.html">Anemone</a>
      </li>
      <li class="mob-menu-item">
        <a href="#about">About us</a>
      </li>
      <li class="mob-menu-item">
        <a href="#store">Store</a>
      </li>
      <li class="mob-menu-item">
        <a href="#delivery">Delivery</a>
      </li>
      <li class="mob-menu-item">
        <a href="#blog">Blog</a>
      </li>
    </ul>
  </div>
</div>
