<section class="store-section">
  <div class="container">
    <h2 id="store" class="section-title store-section-title">Store</h2>
    <ul class="store-list">
      <li class="store-list-item">
        <picture class="store-list-pic">
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/store/img-1_desk@1x.webp 1x,
              ./img/store/img-1_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/store/img-1_desk@1x.jpg 1x,
              ./img/store/img-1_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/store/img-1_tab@1x.webp 1x,
              ./img/store/img-1_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/store/img-1_tab@1x.jpg 1x,
              ./img/store/img-1_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/store/img-1_mob@1x.webp 1x,
              ./img/store/img-1_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/store/img-1_mob@1x.jpg 1x,
              ./img/store/img-1_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="store-img"
            src="./img/store/img-1_mob@1x.jpg"
            alt="Small bouquet of  two orange roses and anturium"
            width="136"
            height="155"
            loading="lazy"
          />
        </picture>
        <div class="store-wrapper">
          <h3 class="store-subtitle">
            compliments<span class="store-subtitle-line"></span>
          </h3>
          <p class="store-desc">from $15</p>
        </div>
      </li>
      <li class="store-list-item">
        <picture class="store-list-pic">
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/store/img-2_desk@1x.webp 1x,
              ./img/store/img-2_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/store/img-2_desk@1x.jpg 1x,
              ./img/store/img-2_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/store/img-2_tab@1x.webp 1x,
              ./img/store/img-2_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/store/img-2_tab@1x.jpg 1x,
              ./img/store/img-2_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/store/img-2_mob@1x.webp 1x,
              ./img/store/img-2_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/store/img-2_mob@1x.jpg 1x,
              ./img/store/img-2_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="store-img"
            src="./img/store/img-2_mob@1x.jpg"
            alt="Small bouquet of three pink roses"
            width="136"
            height="155"
            loading="lazy"
          />
        </picture>
        <div class="store-wrapper">
          <h3 class="store-subtitle">
            bouquets size S<span class="store-subtitle-line"></span>
          </h3>
          <p class="store-desc">from $25</p>
        </div>
      </li>
      <li class="store-list-item">
        <picture class="store-list-pic">
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/store/img-3_desk@1x.webp 1x,
              ./img/store/img-3_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/store/img-3_desk@1x.jpg 1x,
              ./img/store/img-3_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/store/img-3_tab@1x.webp 1x,
              ./img/store/img-3_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/store/img-3_tab@1x.jpg 1x,
              ./img/store/img-3_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/store/img-3_mob@1x.webp 1x,
              ./img/store/img-3_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/store/img-3_mob@1x.jpg 1x,
              ./img/store/img-3_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="store-img"
            src="./img/store/img-3_mob@1x.jpg"
            alt="Medium bouquet of blue and white flowers"
            width="136"
            height="155"
            loading="lazy"
          />
        </picture>
        <div class="store-wrapper">
          <h3 class="store-subtitle">
            bouquets size M<span class="store-subtitle-line"></span>
          </h3>
          <p class="store-desc">from $45</p>
        </div>
      </li>
      <li class="store-list-item">
        <picture class="store-list-pic">
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/store/img-4_desk@1x.webp 1x,
              ./img/store/img-4_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/store/img-4_desk@1x.jpg 1x,
              ./img/store/img-4_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/store/img-4_tab@1x.webp 1x,
              ./img/store/img-4_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/store/img-4_tab@1x.jpg 1x,
              ./img/store/img-4_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/store/img-4_mob@1x.webp 1x,
              ./img/store/img-4_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/store/img-4_mob@1x.jpg 1x,
              ./img/store/img-4_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="store-img"
            src="./img/store/img-4_mob@1x.jpg"
            alt="Large bouquet of seven roses"
            width="136"
            height="155"
            loading="lazy"
          />
        </picture>
        <div class="store-wrapper">
          <h3 class="store-subtitle">
            bouquets size L<span class="store-subtitle-line"></span>
          </h3>
          <p class="store-desc">from $60</p>
        </div>
      </li>
    </ul>
    <button class="btn store-btn" type="button" data-modal-open>
      Order flowers
    </button>
  </div>
</section>
